.container {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #273e79c1;
    z-index: 1;
  }
}

.content {
  z-index: 2;
  text-align: center;
  color: var(--white);
}

.button {
  margin-top: 35px;
}
