.container {
  width: 200px;
  height: 100%;
  padding: 41px 8px;
  background: white;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.06);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13;
  display: inline-flex;
  color: var(--blue);
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    color: white;
    background-color: var(--blue);
    .icon {
      color: var(--white);
    }
  }
}

.containerSelected {
  background: var(--blue);
  color: white;
}

.icon {
  color: var(--blue);
  transition: 0.2s ease;
}

.iconSelected {
  color: white;
}

.title {
  font-size: var(--fs-m);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px 0 13px 0;
}

.description {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  word-wrap: break-word;
}
